@media (max-width: 1200px)
  .container
    max-width: 960px
  .header
    &-top
      max-width: 960px
      &__search
        &_input 
          width: 80%
  .first
    &-news
      &__item
        &_text
          font-size: 14px
  .recomended
    grid-template: 570px / 75% 25%
  .review
    &-cars
      &__img
        width: 50%
        top: 45px
      &__comment
        padding-left: 16px
        &_username, &_text
          font-size: 12px
          line-height: 18px
        &_text
          margin-right: 13px
    &-cats
      &__title
        padding: 25px
    &-columns
      &__title 
        font-size: 18px
        line-height: 21px
      &__info
        margin-top: 0
        &_hobby 
          font-size: 10px
          line-height: 14px
        &_name 
          font-size: 12px
          line-height: 18px
      &__user
        align-items: center
        &_img
          width: 35px
          height: 35px
  .info
    &__title 
      font-size: 36px
      line-height: 45px
  .news
    grid-template-columns: 670px 260px
    &-info
      &__item
        &_top 
          margin-bottom: 10px
        &_title
          overflow: hidden
          text-overflow: ellipsis
          height: 47px
          font-size: 17px
          line-height: 22px
        &_text
          display: inline
          position: relative
          height: 60px
          font-size: 13px
          overflow: hidden
          text-overflow: ellipsis
        &_img
          object-fit: cover
          width: 250px
  .describe
    &-slider
      &__title 
        font-size: 34px
        width: 350px
    &-wrapper 
      grid-template-columns: repeat(2, 465px)
    &-info
      &__careers
        width: 100%
        &_title
          font-size: 24px
        &_title, &_text
          z-index: 1
          position: relative
        &_img
          z-index: 0
          right: 5px
          width: 240px
      &__item_1
        margin-right: 30px
      &__item
        padding: 20px 25px
        &_text
          font-size: 13px
        &_title
          font-size: 14px
  .swiper-container 
    width: 100%
  .footer
    &-list
      grid-template-columns: repeat(5, 17%) 15%

  // .popup 
  //   &__body 
  //     height: 40%
// ========== max-width: 992px ===========
@media (max-width: 992px)
  .container
    max-width: 700px
  .header
    &-nav
      &__a
        font-size: 11px
    &-bottom
      &__img
        &_span
          display: none
        &_universal
          width: 140px
    &-top
      max-width: 700px
      &__search
        &_input 
          width: 50%
  .first
    &-news
      &__item:nth-last-child(1) 
        display: none
      &__item:nth-last-child(2) 
        border-right: none
      &__item
        &_text 
          font-size: 14px
          height: 75px

        &_img
          width: 55px
          height: 55px
  .recomended
    grid-template: 570px / 70% 30%
    &-image 
      width: 490px
    &-images
      &__title 
        font-size: 28px
        width: 400px
      &__play
        width: 200px
        &_info
          &_span 
            font-size: 13px
    &-info
    
      &__item
        padding: 10px 15px 10px 15px
      &__recomended 
        padding: 20px 20px
        font-size: 12px
        line-height: 16px
  .review 
    grid-template: 370px 170px 170px 100%/repeat(3, 30%)
    &-card
      &__title
        width: 170px
        font-size: 14px
      &__text
        width: 170px
        font-size: 12px
    &-columns
      grid-area: 4 / 1 / 5 / 4
      width: 100%
      margin: 0 auto
    &-cars
      &__comment
        &_text
          height: 18px
          overflow: hidden
          width: 217px
  .info
    &__title 
      font-size: 30px
      line-height: 40px
  .news
    grid-template-columns: 100%
    max-width: 95%
    &-recomended
      grid-area: 2 / 1 / 3 / 2
      margin: 30px auto 0 auto
      width: 555px
  .describe
    &-wrapper 
      grid-template-columns: repeat(2, 350px)
    &-info
      &__careers
        width: 100%
        &_title
          font-size: 24px
          width: 280px
        &_text
          width: 180px
          overflow: hidden
        &_title, &_text
          z-index: 1
          position: relative
        &_img
          z-index: 0
          right: 0px
          width: 170px
      &__item_1
        margin-right: 30px
      &__item
        padding: 20px 25px
        &_text
          margin: 15px 0 10px 0
          line-height: 16px
          font-size: 12px
          height: 50px
          overflow: hidden
        &_title
          font-size: 13px
          line-height: 16px
  .footer
    &-list
      &__roster
        &_item
          font-size: 12px
          line-height: 14px
    &-info
      &__date
        &_link 
          margin-left: 20px
          font-size: 11px
          line-height: 18px
    &-copyright 
      font-size: 11px
      &__text
        width: 540px
// // ========== max-width: 768px ===========
@media (max-width: 768px)
  .describe
    margin: 0 auto
    &-wrapper 
      justify-content: center
      align-items: center
      grid-template-columns: 88%
      width: 88%
      margin: 0 auto
    &-info
      &__careers
        margin-top: 30px
        &_img
          width: 43%
          right: 30px
  .subscribe
    &__title 
      font-size: 30px
  .news
    &-recomended
      width: 100%
//  ================== max-width: 700px =================
@media (max-width: 700px)
  .container
    width: 88%
  .header
    &-nav
      &__ul
        display: none
    &-bottom
      position: relative
      padding-top: 50px
    &-top
      position: fixed
      width: 100%
      z-index: 9
      &__come
        margin-right: 26px
      &__menu
        margin-left: 26px
        &_link
          color: #ffffff
          letter-spacing: 0.5px
          text-transform: uppercase
          line-height: 20px
          font-size: 11px
        &_visible
          display: block
          position: fixed
          top: 50px
          left: 0
          right: 0
          bottom: 0
          background-color: $dark
          z-index: 9
      &__search
        &_input 
          width: 100%
      &__subscribe
        &_spans
          display: none
    &-bottom
      &__info
        display: none
      &__img
        &_universal 
          width: 230px
          margin-right: 80px
  .first
    &-news
      flex-wrap: wrap
      padding-top: 0
      &__item:nth-last-child(1) 
        display: flex
      &__item:nth-child(odd)
        border-right: 1px solid #4B5157
      &__item
        margin-top: 30px
        border-right: none
        flex-direction: row-reverse
        width: 50%
        justify-content: flex-start
        &_img
          margin-right: 20px
    
  .recomended
    grid-template: 570px / 100%
    &-images
      display: none
    &-info
      display: none
      grid-column: 1
      &__item.is-active:after
        display: none
      &__item.is-active
        background-color: #fff
    &-mobile
      display: block
    &-information
      background-color: #fff
      border-radius: 10px
      // padding: 10px 0
      &__food
        &_title
          font-size: 12px
          line-height: 15px
          letter-spacing: 0.5px
          text-transform: uppercase
          color: #3BBDC4
          margin-bottom: 5px
        &_text
          font-size: 14px
          line-height: 20px
          color: #4B5157
      &__cars
        &_title
          font-size: 12px
          line-height: 15px
          letter-spacing: 0.5px
          text-transform: uppercase
          color: #6E99AE
          margin-bottom: 5px
        &_text
          font-size: 14px
          line-height: 20px
          color: #4B5157
      &__movies
        &_title
          font-size: 12px
          line-height: 15px
          letter-spacing: 0.5px
          text-transform: uppercase
          color: #AC8EE3
          margin-bottom: 5px
        &_text
          font-size: 14px
          line-height: 20px
          color: #4B5157
      &__nfl
        &_title
          font-size: 12px
          line-height: 15px
          letter-spacing: 0.5px
          text-transform: uppercase
          color: #FFA34D
          margin-bottom: 5px
        &_text
          font-size: 14px
          line-height: 20px
          color: #4B5157
      &__tech
        &_title
          font-size: 12px
          line-height: 15px
          letter-spacing: 0.5px
          text-transform: uppercase
          color: #3DC47E
          margin-bottom: 5px
        &_text
          font-size: 14px
          line-height: 20px
          color: #4B5157

      &__recomended
        border-bottom: 1px solid #D9DADB
        padding: 10px 20px
        font-size: 14px
        line-height: 20px
        display: flex
        align-items: center
        letter-spacing: 0.7px
        text-transform: uppercase
      &__item:nth-last-child(1)
        border-bottom: none
        padding-bottom: 20px
      &__item
        display: flex
        padding: 10px 0
        margin: 0 20px
        border-bottom: 1px solid #D9DADB
        &_info
          display: block
          margin-left: 20px
        &_link
          display: flex
      &__img
        width: 120px
        height: 80px
        object-fit: cover
        flex-shrink: 0
      &__icon
        &_play
          transform: translateY(20%)
          margin-left: 2px
  .review
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &-cars
      order: -2
      width: 100%  
    &-coffee
      width: 46%
    &-manufacture
      width: 46%
    &-popular
      order: -1
      width: 46%
      height: 370px
      &__title
        width: 80%

      &__img
        width: 100%
    &-stressful
      width: 46%
    &-lemon
      width: 46%
    &-cats
      order: -1
      height: 370px
      width: 46%
      &__img 
        height: 70%
    &__img
      height: 350px
      object-fit: cover
    &-columns
      width: auto
      &__title
        font-size: 22px
        line-height: 24px
        letter-spacing: 0.5px
      &__user
        &_img
          width: 50px
          height: 50px
      &__info
        &_name
          font-size: 14px
          line-height: 18px
        &_hobby
          font-size: 12px
          line-height: 16px
  .info
    &__title
      width: 100%
  .footer
    &-list
      grid-template-columns: repeat(3, 33%)
      grid-template-rows: repeat(2, 50%)
      &__item1
        grid-area: 1 / 1 / 2 / 2
      &__item2
        grid-area: 1 / 2 / 2 / 3
      &__item3
        grid-area: 1 / 3 / 2 / 4
      &__item4
        grid-area: 2 / 1 / 3 / 2
      &__item5
        grid-area: 2 / 2 / 3 / 3
      &__item6
        grid-area: 2 / 3 / 3 / 4
    &-info
      justify-content: center
      flex-wrap: wrap
    &-copyright
      &__text
        width: 65%
// ========== max-width: 576px ===========
@media ( max-width:576px )
  .header
    &-top
      &__subscribe
        &_link
          display: none
      &__come
        height: 50px
  .first
    &-news
      &__item
        min-width: 230px
  .recomended
    &-information
      &__recomended
        font-size: 13px
  .review
    &-card
      &__text
        width: 94%
    &-cars
      width: 100%  
    &-coffee
      width: 100%
    &-manufacture
      width: 100%
    &-popular
      order: -1
      width: 100%
      height: 370px
      &__name
        margin: 35% 0 10px 7px
      &__title
        width: 80%

      &__img
        width: 100%
    &-stressful
      width: 100%
    &-lemon
      width: 100%
    &-cats
      order: -1
      height: 370px
      width: 100%
      &__img
        height: 80%
      &__title
        padding-top: 20px
  .news
    &-info
      &__item
        &_img 
          width: 40%
  .describe
    &-wrapper
      grid-template-columns: 94%
      width: 91%
    &-info
      &__careers
        height: 100% 
        &_img 
          width: 35%
        &_button
          z-index: 1
          position: relative
        &_title
          width: 100%

// ========== max-width: 522px ===========
@media ( max-width:522px )
  .header
    &-top
      &__search
        display: none
        &_active  
          display: flex
          justify-content: center
          width: 100%
          margin-right: 120px
          cursor: pointer
        &_input
          width: 50%
        &_icon
          margin: 0
        &_toggle
          display: block
          position: fixed
          top: 50px
          left: 0
          bottom: 0
          right: 0
          z-index: 9
          overflow: hidden
        &_visible
          height: 50px
          width: 60%
          align-items: center
          border-bottom: 1px solid #D9DADB
          width: 100%
          &_wrapper
            display: flex
            justify-content: center
            width: 100%
            height: 50px
            background-color: #fff
      &__menu
        border: none
    &-bottom
      justify-content: center
      &__toggle
        padding-top: 100px
      &__statue 
        margin: 0
      &__img
        &_statue
          display: none
        &_universal
          height: 65px
          margin: 0
          padding: 20px 0
  .first::before 
    height: 800px 
  .first
    &-news
      padding: 0
      &__item:nth-child(odd)
        border-right: none
      &__item:nth-last-child(1)
        border-bottom: none
      &__item
        justify-content: space-between
        align-items: center
        width: 100%
        border-bottom: 1px solid #4B5157
        padding: 10px 0
        margin-left: 30px
        margin-right: 30px  
        margin-top: 0
        &_text
          display: flex
          align-items: center
          width: 100%
  .review
    &-cars
      &__img 
        width: 35%
    &-cats
      &__title 
        padding: 3% 5%
  .info
    &__title 
      font-size: 24px
      line-height: 34px
  .describe
    &-slider
      &__title
        font-size: 20px
        width: 80%
  .news
    &-info
      &__data
        &_numbers
          margin: 10px 0
      &__item
        flex-direction: column
        &_img
          margin-right: 0
          width: 100%
        &_mobile
          display: block
          &_title     
            margin: 15px 0 10px 0
        &_desctop
          display: none
  .subscribe
    &__wrapper  
      flex-wrap: wrap 
      margin-bottom: 0
    &__input
      margin: 10px 0
      width: 80%
    &__button
      margin: 10px 
    &__title 
      font-size: 22px
      margin-bottom: 0
  .footer
    &-info
      justify-content: center
      flex-wrap: wrap
      flex-direction: row
      align-items: start
      &__logo
        // order: 1
      &__social
        margin-top: 3px
      &__date
        flex-direction: column
        align-items: flex-start
        display: flex
        &_link
          margin-left: 0px
        &_img
          margin-bottom: 10px
    &-copyright
      flex-wrap: wrap
      &__text
        width: 100%
        margin-bottom: 10px


// ========== max-width: 358px ===========
@media ( max-width:358px )
  .recomended
    height: 500px
    &-mobile
      height: 100%
    &-information
      &__img
        display: none
      &__item
        &_info
          margin-left: 10px
  .review
    &-cars
      &__img
        display: none
  .describe
    padding-bottom: 30px
    &-info
      &__cards
        flex-direction: column
      &__item
        margin-bottom: 30px
        width: 100%
        height: auto
        &_text
          height: auto
      &__careers
        &_img 
          display: none
    &-slider
      &__title
        line-height: 30px
  .subscribe
    &__title 
      font-size: 18px
  .footer
    &-info
      &__date
        align-items: center
        margin-bottom: 20px
    &-list
      grid-template-columns: repeat(2, 50%)
      grid-template-rows: repeat(3, 35%)
      &__item1
        grid-area: 1 / 1 / 2 / 2
      &__item2
        grid-area: 1 / 2 / 2 / 3
      &__item3
        grid-area: 2 / 1 / 3 / 2
      &__item4
        grid-area: 2 / 2 / 3 / 3
      &__item5
        grid-area: 3 / 1 / 4 / 2
      &__item6
        grid-area: 3 / 2 / 4 / 3
// // ========== max-width: 320px ===========
@media ( max-width:320px )
  .review
    grid-row-gap: 0
    padding: 0
    &-card
      margin: 15px 0      
    &-cars
      &__text 
        margin-bottom: 25px

       



// // ==========---------- max-height: 500px ---------=========
// @media only screen and (max-height: 500px)
