*
  box-sizing: border-box
body
  font-family: $lato
  color: $dark
  background: #E5E5E5
.container
  max-width: 1140px
  margin: 0 auto
img
  max-width: 100% 
p, h1, h2, h3,h4  
  margin: 0
a 
  text-decoration: none
  color: $dark
button:active, button:focus, input:active, input:focus, a:active, a:focus 
  outline: none
button
  cursor: pointer
.button:hover 
  background-color: #42aaff
.recomended-info__item:hover
  background-color: #dbdbdb
.review-card__info:hover
  border: 1px solid #4592ff
.flag:hover
  fill: #ff9baa
.bookmark-article:hover
  fill: #ff9baa
.header-nav__a:hover
  border-bottom: 1px solid #dbdbdb
.comments__load:hover
  background-color: #42aaff
.footer-list__roster_item a:hover
  margin-left: 5px
.footer-info__date_link:hover
  margin-bottom: 5px
.footer-info__social_img:hover
  margin-bottom: 10px
.flag 
  fill: #bcbfc2      
.flag-active
  fill: #ff4f52 
body.lock 
  overflow: hidden
.invalid
  color: red
.subscribe__input_wrapper
  display: flex
  flex-direction: column
  width: 313px
